@font-face {
    font-family: 'Lemon Milk';
    src: url('fonts/lemon_milk/LEMONMILK-Medium.otf') format('opentype');
    font-weight: medium;
}
@font-face {
    font-family: 'Lemon Milk';
    src: url('fonts/lemon_milk/LEMONMILK-Bold.otf') format('opentype');
    font-weight: bold;
}

@font-face {
    font-family: 'GT Walsheim Trial U Rg';
    font-style: normal;
    font-weight: normal;
    src: local('GT-Walsheim Trial U Rg'), url('fonts/gt-walsheim-trial-webfont/GT-Walsheim-Regular-Trial-BF651b7fc71a47d.woff') format('woff');
}

@font-face {
    font-family: 'GT Walsheim Trial U Md';
    font-style: normal;
    font-weight: normal;
    src: local('GT-Walsheim Trial U Md'), url('fonts/gt-walsheim-trial-webfont/GT-Walsheim-Medium-Trial-BF651b7fc728fb3.woff') format('woff');
}

:root {
    --dark: #000000; /* Replace with your desired dark color */
    --light: #cfe9e1; /* Replace with your desired light color */
    --primary: #73ffa9; /* Original greenish color */
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-width: 0;
}

a, p, figcaption {
    text-decoration: none;
    font-family: 'GT Walsheim Trial U Md', serif;
    font-size: 1.25rem;
    color: var(--dark);
}

h1 {
    font-family: 'Lemon Milk', serif;
    font-weight: 400;
    font-size: 13rem;
}

.big-text {
    font-size: 2rem;
}

.main {
    background: url("imgs/background-lighter.png");
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10rem;
    padding-bottom: 7rem;
    box-shadow: 0rem 1rem 5rem rgba(0, 0, 0, 0.5);
    transition: top 0.3s ease;
    width: 100vw;
}

.main-content {
    max-width: 2500px;
    padding: 2rem;
    /* flex-grow: 1; */
}

/* NAV STUFF */

nav ul {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
}

nav a {
    display: block;
    border: var(--dark) .12rem solid;    
    background-color: var(--light);
    padding: .9rem 4rem;
    background-blend-mode: overlay;
}

nav li {
    z-index: 2; /* put above nav::before */
}

nav {
    position: fixed;
    top: 2rem;
    z-index: 100;
    width: calc(100vw - 2rem);
    padding-right: 2rem;
    max-width: 2500px;
}

nav::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    height: .3rem;
    width: calc(100% - 8rem);
    background: var(--light);
    border: var(--dark) .12rem solid;    
    transform: translateY(-50%);
    pointer-events: none;
    z-index: 0;
}

/* WASH ANIMATIONS */

.washAnimate {
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

.instanceColoring {
  position: absolute;
  top: 10rem;
  left: 10rem;
  width: 15rem;
  height: 15rem;
  transition: left 0.5s ease, top 0.5s ease;
  transform: rotate(0);
  z-index: 1;
  background-color: var(--dark);
  border-radius: 100%;
}

.instanceContent {
    position: relative;
    z-index: 3;
    color: var(--light);
    mix-blend-mode: difference;
}

.washAnimate::before {
    content: attr(data-label);
    position: absolute;
    /* top: 1rem; */
    /* left: 3rem; */
    width: 100%;
    height: 100%;
    mix-blend-mode: darken;
    z-index: 4;
    color: var(--primary);
}

.disableTransition {
    transition: none;
}

#follower {
    position: fixed;
    width: 30px;
    height: 30px;
    background: var(--dark);
    border-radius: 50%;
    pointer-events: none; /* So it doesn't interfere with mouse events */
    transform: translate(-50%, -50%); /* Centers the circle on cursor */
    transition: transform 0.1s ease-out; /* Smooth following */
    z-index: 9999;
}

/* HERO SECTION */

.hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5rem;
}

.hero-left .big-text {
    max-width: 50rem;
    /* margin-right: 5rem; */
}

.hero-right {
    /* outline: auto;ss */
    display: grid;
    justify-content: right;
    height: 100%;
    position: relative;
    padding-bottom: 25%;
}

#ben-hustler {
    position: absolute;
    width: 100%;
    height: auto;
    bottom: 0%;
    pointer-events: none;
}

#profile-fig {
    position: relative;
    margin-right: 6rem;
    display: grid;
    left: 27%;
    width: 60%;
    transition: transform 0.3s ease;
}

#profile-fig figcaption {
    /* max-width: 30rem; */
    margin-bottom: .5rem;
    align-self: end;
}

.profile-img {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 1 / 1;
}

/* #profile-fig div a {
    position: relative;
    bottom: 15rem;
    color: var(--light)
} */

#profile-fig a {
    display: flex;
    column-gap: .8rem;
    /* text-transform: uppercase; */
    /* font-family: monospace; */
    align-items: end;
    justify-items: space-between;
}

#profile-fig a .down-arrow {
    transform: translate(0, .3rem);
    height: auto;
}

#cappf {
    position: relative;
    font-size: 1.5rem;
}

#cappf:before {
    position: absolute;
    content: "UX/Interaction design: check it out!";
    color: rgba(0, 0, 0, 0);
    width: 0%;
    height: 100%;
    left: 0;
    background-color: var(--light);
    z-index: -1;
    transition: width 0.3s ease;
}

#profile-fig a span:last-child {
    flex-shrink: 0;
}

#profile-fig:hover {
    transform: scale(1.02);
}

#profile-fig:hover #cappf::before {
    width: 100%;
    /* background-color: var(--light) */
}

/* HERO LEFT */

.hero-left {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    /* justify-content: space-between; */
}

.hero-left a {
    justify-self: flex-end;
    display: flex;
    column-gap: 2rem;
    width: fit-content;
    align-items: center;
    transition: transform 0.3s ease, color 0.3s ease;
    position: relative;
}

.hero-left a:hover {
    transform: scale(1.02);
}

.down-arrow {
    width: 1.5rem;
    height: auto;
    align-self: center;
}

.hero-left p {
    margin-bottom: 2rem;
}

.lineWipe:before {
    position: absolute;
    content: "UX/Interaction design: check it out!";
    color: rgba(0, 0, 0, 0);
    width: 0%;
    height: 100%;
    left: 0;
    background-color: var(--light);
    z-index: -1;
    transition: width 0.3s ease;
}

.lineWipe:hover::before {
    width: 100%;
}

/* PROJECTS SECTION */

#spacer {
    /* height: calc(100vh - 4rem); */
    height: calc(100vh);
}

.projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
    max-width: 2500px;
    padding: 13rem 0rem 5rem 2rem;
}

.projects-main {
    background: url("imgs/dark-background2.png");
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    z-index: -1;
    top: 10rem;
    width: 100%
}

.project-thumbnail img {
    width: 100%;
    height: auto;
    border: var(--dark) .12rem solid;
    /* box-shadow: 0rem 1rem 3rem rgb(0, 0, 0); */
}

.project-thumbnail figcaption {
    margin-bottom: 1rem;
    font-size: 2rem;
    color: var(--light)
}
