@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@font-face {
    font-family: 'Lemon Milk';
    src: url('fonts/lemon_milk/LEMONMILK-Medium.otf') format('opentype');
    font-weight: medium;
}
@font-face {
    font-family: 'Lemon Milk';
    src: url('fonts/lemon_milk/LEMONMILK-Bold.otf') format('opentype');
    font-weight: bold;
}

@font-face {
    font-family: 'GT Walsheim Trial U Rg';
    font-style: normal;
    font-weight: normal;
    src: local('GT-Walsheim Trial U Rg'), url('fonts/gt-walsheim-trial-webfont/GT-Walsheim-Regular-Trial-BF651b7fc71a47d.woff') format('woff');
}

@font-face {
    font-family: 'GT Walsheim Trial U Md';
    font-style: normal;
    font-weight: normal;
    src: local('GT-Walsheim Trial U Md'), url('fonts/gt-walsheim-trial-webfont/GT-Walsheim-Medium-Trial-BF651b7fc728fb3.woff') format('woff');
}

:root {
    --dark: #000000; /* Replace with your desired dark color */
    --light: #d7d7d7; /* Replace with your desired light color */
    --primary: #FF5F5F; /* Original greenish color */
    --max-width: 2100px;
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-width: 0;
}

a, p {
    text-decoration: none;
    font-family: 'GT Walsheim Trial U Md', serif;
    font-size: 1.25rem;
    color: var(--light);
}

figcaption * {
    font-family: "Anonymous Pro";
    font-family: "Roboto Mono";
    /* font-family: "Space Mono"; */
    font-family: monospace;
    /* text-transform: uppercase; */

    font-size: 1.25rem;
    /* font-weight: 600; */
}

h1 {
    font-family: 'Lemon Milk', serif;
    font-weight: 400;
    font-size: 13rem;
}

.big-text {
    font-size: 2rem;
}

.main {
    background: url("imgs/black-background.png");
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: clamp(6rem, 16vh, 13rem);
    padding-bottom: 7rem;
    box-shadow: 0rem 1rem 5rem rgba(0, 0, 0, 0.5);
    transition: top 0.3s ease;
    width: 100vw;
    overflow: hidden;
}

.main-content {
    max-width: var(--max-width);
    padding: 2rem;
    /* flex-grow: 1; */
}

/* NAV STUFF */

nav ul {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
}

nav a {
    display: block;
    border: none;
    background-color: var(--light);
    padding: .9rem 4rem;
    background-blend-mode: overlay;
    border-radius: 50px;
}

nav li {
    z-index: 2; /* put above nav::before */
}

nav {
    position: fixed;
    top: 2rem;
    z-index: 100;
    width: calc(100vw - 2rem);
    padding-right: 2rem;
    max-width: var(--max-width);
}

nav::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    height: .3rem;
    width: calc(100% - 8rem);
    background: var(--light);
    border: none;
    transform: translateY(-50%);
    pointer-events: none;
    z-index: 0;
    border-radius: 50px;
}

.largeButton.washAnimate {
    background-color: var(--light);
    border-radius: 3rem;
    padding: 1rem 3rem;
}

/* WASH ANIMATIONS */

.washAnimate {
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

.largeButton.washAnimate .instanceColoring {
    top: 10rem;
    left: 10rem;
    width: 30rem;
    height: 30rem;
}

.instanceColoring {
  position: absolute;
  top: 10rem;
  left: 10rem;
  width: 15rem;
  height: 15rem;
  transition: left 0.5s ease, top 0.5s ease;
  transform: rotate(0);
  z-index: 1;
  background-color: var(--primary);
  border-radius: 100%;
}

.instanceContent {
    position: relative;
    z-index: 3;
    color: var(--dark);
    /* mix-blend-mode: difference; */
}

/* .washAnimate::before {
    content: attr(data-label);
    position: absolute;
    width: 100%;
    height: 100%;
    mix-blend-mode: darken;
    z-index: 4;
    color: var(--primary);
} */

.disableTransition {
    transition: none;
}

#follower {
    position: fixed;
    width: 30px;
    height: 30px;
    background: var(--dark);
    border-radius: 50%;
    pointer-events: none; /* So it doesn't interfere with mouse events */
    transform: translate(-50%, -50%); /* Centers the circle on cursor */
    transition: transform 0.1s ease-out; /* Smooth following */
    z-index: 9999;
}

/* HERO SECTION */

.hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5rem;
}

.hero-left .big-text {
    max-width: 50rem;
    /* margin-right: 5rem; */
}

.hero-right {
    /* outline: auto;ss */
    display: grid;
    justify-content: right;
    height: 100%;
    position: relative;
    padding-bottom: 25%;
}

#ben-hustler {
    position: absolute;
    width: 100%;
    height: auto;
    bottom: 0%;
    pointer-events: none;
    filter: drop-shadow(0 0 0 var(--primary));
}

#lines1 {
    position: absolute;
    width: 100%;
    height: auto;
    right: -63%;
    bottom: -10%;
    pointer-events: none;
    z-index: 0;
}

#profile-fig {
    position: relative;
    margin-right: 6rem;
    display: grid;
    left: 27%;
    width: 58%;
    transition: transform 0.3s ease , filter 0.3s ease;
    /* filter: saturate(0); */
}

#profile-fig figcaption {
    /* max-width: 30rem; */
    margin-bottom: .5rem;
    align-self: end;
}

.profile-img {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 1 / 1;
}

/* #profile-fig div a {
    position: relative;
    bottom: 15rem;
    color: var(--light)
} */

#profile-fig a {
    display: flex;
    column-gap: .8rem;
    /* text-transform: uppercase; */
    /* font-family: monospace; */
    align-items: end;
    justify-items: space-between;
}

#profile-fig a .down-arrow {
    transform: translate(0, .3rem);
    height: auto;
    filter: invert(1);
}

#cappf {
    position: relative;
    font-size: 1.5rem;
}

#cappf:before {
    position: absolute;
    content: "UX/Interaction design: check it out!";
    color: rgba(0, 0, 0, 0);
    width: 0%;
    height: 100%;
    left: 0;
    background-color: var(--light);
    z-index: -1;
    transition: width 0.3s ease;
}

#profile-fig > a::before {
  box-shadow: inset 0 0 1rem .1rem #ffffff1f;
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  aspect-ratio: 1 / 1;
  z-index: 10;
}

#profile-fig a span:last-child {
    flex-shrink: 0;
}

#profile-fig:hover {
    transform: scale(1.02);
    filter: saturate(1);
}

#profile-fig:hover #cappf::before {
    width: 100%;
    /* background-color: var(--light) */
}

/* HERO LEFT */

.hero-left {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: space-between;
    position: relative;
}

.hero-left a {
    justify-self: flex-end;
    display: flex;
    column-gap: 2rem;
    width: fit-content;
    align-items: center;
    transition: transform 0.3s ease, color 0.3s ease;
    /* position: absolute; */
    bottom: 0;
}

.hero-left a:hover {
    transform: scale(1.02);
}

.down-arrow {
    width: 1.5rem;
    height: auto;
    align-self: center;
}

.hero-left p {
    margin-bottom: 2rem;
}


.lineWipe:before {
    position: absolute;
    content: ".";
    color: rgba(0, 0, 0, 0);
    width: 0%;
    height: 100%;
    left: 0;
    background-color: var(--light);
    z-index: 1;
    transition: width 0.3s ease;
}

.lineWipe:hover::before {
    width: 100%;
}

.lineWipe * {
    z-index: 2;
}

.lineWipe {
    position: relative;
    overflow: hidden;
}

.lineWipe a, .lineWipe button, .lineWipe span, .lineWipe img {
    mix-blend-mode: difference;
}

.lineWipe.button:before {
    background-color: var(--light);
    z-index: 1;
}

.lineWipe.button:after {
    position: absolute;
    content: ".";
    color: rgba(0, 0, 0, 0);
    width: 100%;
    height: 100%;
    left: 0;
    background-color: var(--light);
    z-index: 0;
    transition: width 0.3s ease;
}

.lineWipe.button span, .lineWipe.button img {
    color: var(--light);
    mix-blend-mode: difference;
    position: relative;
    overflow: hidden;
}

/* PROJECTS SECTION */

#spacer {
    /* height: calc(100vh - 4rem); */
    height: calc(100vh);
}

.projects {
    display: flex;
    flex-wrap: wrap;
    column-gap: clamp(2rem, 2vw, 4rem);
    row-gap: 2rem;
    max-width: var(--max-width);
    padding: 10% 2rem 5rem 2rem;
    align-items: end;
    position: relative;
    overflow: hidden;
}

.projects-main {
    background: url("imgs/black-background.png");
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: -1;
    top: 10rem;
    width: 100%;
}

.project-thumbnail img {
    width: 100%;
    height: auto;
    /* border: var(--light) .12rem solid; */
    aspect-ratio: 1920 / 1080;
    object-fit: cover;
    object-position: bottom;
}

.project-thumbnail figure > a::before {
  box-shadow: inset 0 0 1rem .1rem #ffffff1f;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10;
}

.project-thumbnail a {
    /* color: var(--light) */
    display: flex;
    justify-content: space-between;
    column-gap: 2rem;
    row-gap: .5rem;
    align-items: center;
    /* font-size: 1.5rem; */
    position: relative;
    flex-wrap: wrap;
}

.project-thumbnail {
    transition: transform 0.3s ease , filter 0.3s ease;
    flex-basis: calc(50% - 2rem);
    flex-shrink: 0;
    min-width: 32rem;
    flex-grow: 1;
    /* filter: saturate(0); */
}

.project-thumbnail figcaption {
    margin: 1rem 0;
}

.project-thumbnail:hover .lineWipe::before {
    width: 100%;
}

.project-thumbnail:hover {
    transform: scale(1.02);
    filter: saturate(1);
}

.project-thumbnail span:last-child {
    font-style: italic;
    font-size: 1rem;
}
