@font-face {
    font-family: 'Lemon Milk';
    src: url('fonts/lemon_milk/LEMONMILK-Medium.otf') format('opentype');
    font-weight: medium;
}
@font-face {
    font-family: 'Lemon Milk';
    src: url('fonts/lemon_milk/LEMONMILK-Bold.otf') format('opentype');
    font-weight: bold;
}

@font-face {
    font-family: 'GT Walsheim Trial U Rg';
    font-style: normal;
    font-weight: normal;
    src: local('GT-Walsheim Trial U Rg'), url('fonts/gt-walsheim-trial-webfont/GT-Walsheim-Regular-Trial-BF651b7fc71a47d.woff') format('woff');
}

@font-face {
    font-family: 'GT Walsheim Trial U Md';
    font-style: normal;
    font-weight: normal;
    src: local('GT-Walsheim Trial U Md'), url('fonts/gt-walsheim-trial-webfont/GT-Walsheim-Medium-Trial-BF651b7fc728fb3.woff') format('woff');
}

:root {
    --dark: #000000; /* Replace with your desired dark color */
    --light: #ffffff; /* Replace with your desired light color */
    --primary: #73ffc7; /* Original greenish color */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a, p {
    text-decoration: none;
    font-family: 'GT Walsheim Trial U Md', serif;
    font-size: 1.25rem;
    color: var(--dark);
}

h1 {
    font-family: 'Lemon Milk', serif;
    font-weight: 400;
    font-size: 13rem;
}

.big-text {
    font-size: 2rem;
}

.main {
    background-color: var(--primary);
    display: flex;
    flex-direction: column;
    padding-top: 10rem;
}

.main-content {
    /* max-width: 1920px; */
    padding: 2rem;
    flex-grow: 1;
}

/* NAV STUFF */

nav ul {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
}

nav a {
    display: block;
    border: var(--dark) 1px solid;
    background-color: var(--light);
    padding: 1rem 3rem;
}

nav li {
    z-index: 2; /* put above nav::before */
}

nav {
    position: fixed;
    top: 2rem;
    z-index: 100;
    width: calc(100% - 4rem);
}

nav::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    height: 10px;
    width: 95%;
    background: var(--light);
    border: var(--dark) 1px solid;    
    transform: translateY(-50%);
    pointer-events: none;
    z-index: 0;
}

/* WASH ANIMATIONS */

.washAnimate {
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

.instanceColoring {
  position: absolute;
  top: 10rem;
  left: 10rem;
  width: 15rem;
  height: 15rem;
  transition: left 0.5s ease, top 0.5s ease;
  transform: rotate(0);
  z-index: 1;
  background-color: var(--dark);
  border-radius: 100%;
}

.instanceContent {
    position: relative;
    z-index: 3;
    color: var(--light);
    mix-blend-mode: difference;
}

.washAnimate::before {
    content: attr(data-label);
    position: absolute;
    top: 1rem;
    left: 3rem;
    width: 100%;
    height: 100%;
    mix-blend-mode: darken;
    z-index: 4;
    color: var(--primary);
}

.disableTransition {
    transition: none;
}

#follower {
    position: fixed;
    width: 30px;
    height: 30px;
    background: var(--dark);
    border-radius: 50%;
    pointer-events: none; /* So it doesn't interfere with mouse events */
    transform: translate(-50%, -50%); /* Centers the circle on cursor */
    transition: transform 0.1s ease-out; /* Smooth following */
    z-index: 9999;
}

/* HERO SECTION */

.hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#ben {
    position: relative;
    left: -23.5rem;
    top: -30rem;
    transform: rotate(-90deg);
}

#hustler {
    position: relative;
    top: -12rem;
}

.hero-left .big-text {
    max-width: 38rem;
}

.hero-right {
    /* outline: auto; */
    display: grid;
    justify-content: right;
}

#profile-fig {
    margin-right: 6rem;
    display: grid;
    justify-content: end;
}

#profile-fig figcaption {
    max-width: 30rem;
}

#profile-fig img {
    width: 30rem;
    height: 30rem;
    object-fit: cover;
}